.App {
  padding:77px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**********************************************************/

.CommonSchedule-ShiftActive {
    color: red;
}

.DaySchedule-interval {
    border: solid 1px;
    margin: 1px 77px;
}

.DaySchedule-timePoint {
    margin-left: -55px;
    margin-right: 55px;
}


#time-contaner {
    display: flex;
    justify-content:space-around;
    width: 88vw;
    margin: 33px 0;
}
.time-point {
  padding:3px;
  border:solid white 1px;
}
.time-point:hover {
  border-color: red;
}
.act {
  background: green;
  color:yellow;
}
.lastAct {
  background: lightBlue;
}
